<h1>All restaurants</h1>

<ul>
  <% @restaurants.each do |r| %>
    <li><%= r.name %> - <%=r.address%>, <%=r.phone_number %> (<%= link_to 'See details', restaurant_path(r) %>)</li>
  <% end %>
</ul>

<%= link_to "Add new restaurant", restaurants_new_path, class: "btn btn-primary"%>
